.monstersid-button{
  display: table-cell; 
  width: 90px; 
  text-align: center; 
  font-size: 14px; 
  border: 1px solid rgb(136, 136, 136); 
  padding: 2px 6px; 
  cursor: pointer;
  border-radius: 4px; 
  text-shadow: rgb(255, 255, 255) 0px 0px 2px; 
  vertical-align: middle; 
  color: rgb(0, 0, 0); 
  background: rgb(238, 238, 238);
  transition: all 0.3s ease;
}
.monstersid-button:hover{
  background: #222;
  border: 1px solid #000;
}
span.monstersid-button{
  display: inline-block;
}
