.monstersid-button{
  display: table-cell;
  width: 90px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #26f;
  padding: 2px 6px;
  cursor: pointer;
  vertical-align: middle;
  color: #fff;
  background: #48f;
  outline: 1px solid #acf;
  outline-offset: -2px;
  transition: all 0.3s ease;
}
.monstersid-button:hover{
  color: #fff;
  background: #26f;
  border: 1px solid #028;
  outline: 1px solid #26f;
}
span.monstersid-button{
  display: inline-block;
}
#MonsterSidContainer{
  border-top: 1px solid rgba(0,0,0, 0.5) !important;
}
#MonsterSidMoreContainer{
  color: #000 !important;
  background: rgba(255,255,255, 0.5) !important;
  border-top: 1px solid rgba(0,0,0, 0.5) !important;
}
#MonsterSidHeader{
  background: rgba(0,0,0, 0.75);
}
